.badge{
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}

.img {
  position: relative;
  height: 100%;
  object-fit: cover;
}

.card{
  border-color: gray;
}

.card-container{
   transition: transform .2s;
}

.card-container:hover {
  transform: scale(1.05); 
}